<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lvla.startfitness">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StartFitness">
        <activity
            android:name=".FavPiActivity"
            android:exported="false" />
        <activity
            android:name=".FavHActivity"
            android:exported="false" />
        <activity
            android:name=".FavBActivity"
            android:exported="false" />
        <activity
            android:name=".FavEActivity"
            android:exported="false" />
        <activity
            android:name=".FavActivity"
            android:exported="false" />
        <activity
            android:name=".FavCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".GymActivity"
            android:exported="false" />
        <activity
            android:name=".GymCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".HombroActivity"
            android:exported="false" />
        <activity
            android:name=".HombroCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".PiernaActivity"
            android:exported="false" />
        <activity
            android:name=".PiernaCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".BrazoActivity"
            android:exported="false" />
        <activity
            android:name=".BrazoCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".EspaldaActivity"
            android:exported="false" />
        <activity
            android:name=".EspaldaCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".PechoActivity"
            android:exported="false" />
        <activity
            android:name=".PechoCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ExercisesCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>